.drag_layout_screen {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 0px 10px;
  border: 5px solid #fff;
  box-sizing: content-box;
  .drag_layout_screen_mask {
    display: none;
    bottom: 0;
  }
  .fixed_spirit {
    display: none;
  }
  &[data-fixed-view-mode="fixed"] {
    .drag_layout_screen_mask {
      display: block;
      position: absolute;
      width: 100%;
      z-index: 300;
      left: 0;
      background: rgba(255,255,255,.9);
    }
    .fixed_spirit {
      display: block;
    }
  }
}
.drag_spirit, .drag_layout_coordinates_x, .drag_layout_coordinates_y, .drag_layout_mark_line_x, .drag_layout_mark_line_y, .drag_layout_mark_line_adsorption_y, .drag_layout_mark_line_adsorption_x {
  position: absolute;
  left: 0;
  top: 0;
}
.drag_layout_pannel {
  width: 100%;
  height: 100%;
  padding: 5px;
  .drag_layout_top_bar, .drag_layout_left_bar {
    position: absolute;
    background: #fff;
    z-index: 200;
    left: 0;
    top: 0;
  }
  .drag_layout_top_bar {
    height: 22px;
    width: 100%;
  }
  .drag_layout_left_bar {
    width: 50px;
    height: 100%;
  }
}
.drag_spirit {
  transition: transform 0.1s;
  box-sizing: border-box;
  overflow: hidden;
  &[data-active="true"] {
    z-index: 100;
  }
  &[data-parent-type="flex_container"] {
    z-index: 20;
    .drag_layout_resizable {
      display: none;
    }
  }
  &[data-parent-type="inline_container"] {
    z-index: 20;
  }
  &[data-parent-type="flow_container"] {
    z-index: 20;
  }
}
.drag_default_spirit {
  cursor: all-scroll;
  &:hover {
    outline: #f55 2px solid;
    z-index: 10;
  }
  &[data-active="true"] {
    outline: #f55 2px solid;
  }
}
.container_spirit {
  overflow: visible;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 0px 10px;
  &.lock {
    z-index: 30;
  }
  .drag_layout_auxiliary_drag {
    position: absolute;
    width: 20px;
    height: 2px;
    background: #aaa;
    left: 100%;
    top: 50%;
    span {
      position: absolute;
      width: 10px;
      height: 10px;
      top: -4px;
      left: 100%;
      background: #aaa;
    }
  }
  .drag_layout_auxiliary_lock_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -35px;
    top: 5px;
    cursor: pointer;
    user-select: none;
    background: url('data:image/svg+xml;utf8,<svg t="1625373430607" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1203" width="200" height="200"><path d="M785.666 454.431h-60.396v-140.463c0-117.636-95.61-213.295-213.241-213.295-117.636 0-213.351 95.661-213.351 213.295v140.463h-60.345c-29.097 0-52.679 23.579-52.679 52.679v384.577c0 29.152 23.583 52.734 52.679 52.734h547.388c29.102 0 52.628-23.583 52.628-52.734v-384.577c-0.005-29.102-23.578-52.679-52.685-52.679zM541.611 709.421v83.978c0 3.751-3.104 6.915-6.914 6.915h-45.284c-3.857 0-6.966-3.164-6.966-6.915v-83.978c-21.275-10.88-36.010-32.691-36.010-58.256 0-36.172 29.367-65.594 65.543-65.594 36.226 0 65.597 29.422 65.597 65.594 0.050 25.566-14.686 47.377-35.964 58.256zM643.436 454.431h-262.816v-136.983c0-72.457 59.002-131.461 131.46-131.461s131.355 59.003 131.355 131.461v136.983z" p-id="1204"></path></svg>') center;
    background-size: 100%;
    &.unlock {
      background-image: url('data:image/svg+xml;utf8,<svg t="1625373910407" class="icon" viewBox="0 0 1067 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="9520" width="200" height="200"><path d="M116.587 440.171h564.044c29.993 0 54 24.755 54 55.687v408.335c0 30.931-24.007 55.687-54 55.687H116.587c-30.003 0-54-24.755-54-55.687V495.858c0-30.931 23.997-55.687 54-55.687z m252.02 272.226v86.618c0 6.187 5.997 6.187 5.997 6.187h48.003c6.007 0 6.007-6.187 6.007-6.187v-86.618c23.997-12.372 36-37.118 36-61.864 0-37.128-30.003-68.059-66.003-68.059s-66.013 30.931-66.013 68.049c0 30.941 12.003 49.5 36 61.872z" p-id="9521"></path><path d="M900.705 297.099c0-74.236-61.864-142.295-142.295-142.295-74.245 0-142.295 61.864-142.295 142.295V445.59h-80.431V290.913C535.684 167.177 634.675 62 764.597 62c123.736 0 228.922 98.991 228.922 228.913v148.491h-86.618l-6.187-142.295z" p-id="9522"></path></svg>');
    }
  }
}
.absolute_spirit {
  transition: none;
  z-index: 100;
  cursor: all-scroll;
}
.copy_spirit {
  z-index: 1000 !important;
  transition: none;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 0px 10px;
}

.drag_layout_resizable {
  display: none;
  &.show {
    display: block;
  }
  span {
    position: absolute;
    z-index: 300;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgd2lkdGg9IjYiIGhlaWdodD0iNiI+PHBhdGggZD0iTTYgNkgwVjQuMmg0LjJWMEg2djZ6IiBvcGFjaXR5PSIuMzAyIi8+PC9zdmc+);
    background-position: 100% 100%;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
  }
  .drag_layout_resizable_s {
    left: 50%;
    bottom: 0;
    transform: rotate(45deg);
    cursor: ns-resize;
  }
  .drag_layout_resizable_e {
    top: 50%;
    right: 0;
    transform: rotate(315deg);
    cursor: ew-resize;
  }
  .drag_layout_resizable_se {
    bottom: 0;
    right: 0;
    cursor: se-resize;
  }
}

.drag_layout_mark_line {
  display: none;
  &[data-show] {
    display: block;
  }
}
.drag_layout_mark_line_adsorption_y, .drag_layout_mark_line_adsorption_x {
  display: none;
}
.drag_layout_mark_line_x, .drag_layout_mark_line_y, .drag_layout_mark_line_adsorption_y, .drag_layout_mark_line_adsorption_x {
  z-index: 300;
}
.drag_layout_mark_line_y, .drag_layout_mark_line_adsorption_y {
  height: 100%;
  width: 1px;
  background: #88f;
}
.drag_layout_mark_line_x, .drag_layout_mark_line_adsorption_x {
  height: 1px;
  width: 100%;
  background: #88f;
}

.drag_layout_coordinates {
  .drag_layout_coordinates_x, .drag_layout_coordinates_y {
    z-index: 210;
  }
  p {
    color: #5E5E5E;
    text-align: right;
    font-size: 12px;
  }
}
